<!--Footeren gjenbrukes og lastes inn på sidene der den trengs-->
<footer>
    <div class= "footer-innhold">
        <!--Tekst-->
        <p>
            Du kan også finne oss på sosiale medier. Her vil det være ressurser som viser deg hvordan siden fungerer, i tillegg
            kan du ta kontakt dersom du lurer på noe.
        </p>

        <!--Ikoner for sosiale medier-->
        <ul class="sosiale-medier">
            <li><a href="https://www.facebook.com/ntnu.no"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/NTNU"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <!--Copyright-->
        <p>Copyright &copy;2021 Røddi AS</p>
    </div>
</footer>